assign/web/WEB-INF/wsdl/localhost_8080/assign/flightService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.flightclub/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.flightclub/" name="flightService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.flightclub/" schemaLocation="http://localhost:8080/assign/flightService?xsd=1"/>
</xsd:schema>
</types>
<message name="listFlightsWithParams">
<part name="parameters" element="tns:listFlightsWithParams"/>
</message>
<message name="listFlightsWithParamsResponse">
<part name="parameters" element="tns:listFlightsWithParamsResponse"/>
</message>
<message name="userLogin">
<part name="parameters" element="tns:userLogin"/>
</message>
<message name="userLoginResponse">
<part name="parameters" element="tns:userLoginResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="userLogout">
<part name="parameters" element="tns:userLogout"/>
</message>
<message name="userLogoutResponse">
<part name="parameters" element="tns:userLogoutResponse"/>
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<message name="listFlights">
<part name="parameters" element="tns:listFlights"/>
</message>
<message name="listFlightsResponse">
<part name="parameters" element="tns:listFlightsResponse"/>
</message>
<portType name="FlightService">
<operation name="listFlightsWithParams">
<input wsam:Action="http://soap.flightclub/FlightService/listFlightsWithParamsRequest" message="tns:listFlightsWithParams"/>
<output wsam:Action="http://soap.flightclub/FlightService/listFlightsWithParamsResponse" message="tns:listFlightsWithParamsResponse"/>
</operation>
<operation name="userLogin">
<input wsam:Action="http://soap.flightclub/FlightService/userLoginRequest" message="tns:userLogin"/>
<output wsam:Action="http://soap.flightclub/FlightService/userLoginResponse" message="tns:userLoginResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.flightclub/FlightService/userLogin/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.flightclub/FlightService/userLogin/Fault/Exception"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.flightclub/FlightService/userLogin/Fault/JAXBException"/>
</operation>
<operation name="userLogout">
<input wsam:Action="http://soap.flightclub/FlightService/userLogoutRequest" message="tns:userLogout"/>
<output wsam:Action="http://soap.flightclub/FlightService/userLogoutResponse" message="tns:userLogoutResponse"/>
</operation>
<operation name="createBooking">
<input wsam:Action="http://soap.flightclub/FlightService/createBookingRequest" message="tns:createBooking"/>
<output wsam:Action="http://soap.flightclub/FlightService/createBookingResponse" message="tns:createBookingResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.flightclub/FlightService/createBooking/Fault/Exception"/>
</operation>
<operation name="listFlights">
<input wsam:Action="http://soap.flightclub/FlightService/listFlightsRequest" message="tns:listFlights"/>
<output wsam:Action="http://soap.flightclub/FlightService/listFlightsResponse" message="tns:listFlightsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.flightclub/FlightService/listFlights/Fault/Exception"/>
</operation>
</portType>
<binding name="FlightServicePortBinding" type="tns:FlightService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listFlightsWithParams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="userLogout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="flightService">
<port name="FlightServicePort" binding="tns:FlightServicePortBinding">
<soap:address location="http://localhost:8080/assign/flightService"/>
</port>
</service>
</definitions>